@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* https://media.tenor.com/C-6fvsJAHNEAAAAC/shooting-stars-aesthetic.gif 
https://media.tenor.com/0ufKblKdp5gAAAAd/japan-scenery.gif
"https://cdnb.artstation.com/p/assets/images/images/024/538/827/original/pixel-jeff-clipa-s.gif?1582740711&dl=1"*/
/* base styles */
* {
  margin: auto;
  font-family: 'Quicksand';
  font-size: inherit;
}
body {
  background:
  url("https://cdnb.artstation.com/p/assets/images/images/024/538/827/original/pixel-jeff-clipa-s.gif?1582740711&dl=1");
  background-repeat: no-repeat;
  background-size: cover;
  
}

    
/* Header */
 header {
display: flex;
background-color: transparent;
} 
/* .App {
  font-family: sans-serif;
  text-align: center;
} */

/* Nav Bar */
.branding {
  background-color: transparent;
} 

 .navigation {
  background-color: transparent;
} 
 .navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  
}

.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
} 

/* Home Page */
.welcome{
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: white;
  

}
#random-card{
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 100px auto;
  border: 4px solid var(--dark-turquoise);
  grid-gap: 1rem;
  height: 400px;
  width: 600px;

}

.giphy{
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
  border: 4px solid var(--dark-turquoise);
  grid-gap: 1rem;
  padding-top: 3rm;
  height: 400px;
  width: 600px;
}

#random-card img{
  position: relative;
  width: 100%;
  height: 100%;
  
}

.r-btn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 100px auto;
  background: rgb(159, 10, 245);
}
/* Character Page */
/* #wrapper {
  min-height: 100vh;
  display: flex;
} */

cards-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
}
.container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-gap: 1rem;
  grid-area: contant2;
  padding-top: 1rem;
  padding-bottom: 1rem;
  
}

/* Cards on Character Page */

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
  
}

.card__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: contrast(70%);
  overflow: hidden;
  position:relative;
  transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);
  width: 300px;
  height: 300px;
}

.card__image:hover{
  filter: contrast(100%);
}


.card__title {
  color: #696969;
  font: size 20px;;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-display: center;
  text-align: center;
}

/* Card Buttons */
#like-button {
  position: relative;
  left: 130px;
  background-color: transparent;
  border: none;
  border-radius: 0;
  size-adjust: 10px;
  
  

}

/* Form */
form{
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
  border: 4px solid var(--dark-turquoise);
  grid-gap: 1rem
  
}
.new-Anime-form h2{
    margin-bottom: 3rem;
    text-align: center;
    padding-top: 6rem;
  
}
input,
textarea,
select {
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 1.25rem;
  font-weight: bold;
  transition: all 0.5s;
  
}
